/* BASE */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
    transition: color 0.3s, background-color 0.3s, opacity 0.3s;
}
h1, h2, h3, h4, p {
    margin: 0;
}

/* MAIN */  
body {
    display: grid;
    grid-template-rows: 5rem 1fr 7rem;
    height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
img {
    width: 100%;
    height: 100%;
}
.header__titulo {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #213970;
}
.main {
    width: 100%;
}
.content {
    margin: auto;
    width: 80%;
    max-width: 100rem;
    padding: 1rem;
}
.content .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}
.nav li {
    list-style: none;
    padding: 1rem;
    background-color: #213970;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: .5rem;
}
.nav li.active {
    background-color: #003cc9;
}
.content .calculator {
    position: relative;
    height: 50rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    overflow-y: auto;
    background-color: #213970;
    color: white;
}
.calculator .section {
    margin: 0;
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    display: none;
}
.calculator .section.active {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* PANELES */
.panel {
    width: 100%;
    color: black;
}
.panel .panel__title {
    width: 100%;
    background-color: #7AD9C4;
    display: flex;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: .9rem 1.5rem;
    cursor: pointer;
}
.panel__title .caret {
    width: .7rem;
    height: .7rem;
    background-color: black;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    transform: rotate(135deg);
    transition: transform 0.3s;
    transform-origin: 25% 75%;
}
.panel__title .caret.active {
    transform: rotate(-45deg);
}
.panel__content {
    display: none;
    padding: 1rem;
}
.panel__content.active {
    display: block;
    background-color: #7AD9C4;
    padding: 1rem 5rem;
    gap: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.panel__content .inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.panel__content .input{
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.panel__content .input h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.panel__content .input input {
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
    border: none;
}
.panel__content .inputsArray {
    width: 100%;
}
.panel__content .button button {
    outline: none;
    border: none;
    border-radius: .5rem;
    padding: .7rem;
    font-weight: bold;
    background-color: rgb(5, 131, 89);
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}
.panel__content .result {
    margin-top: 1.5rem;  
}
.result .raiz {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.result .results {
    max-height: 20rem;
    overflow-y: auto;
    font-size: 1.1rem;
    font-weight: bold;
}
.result .vectorRespuesta {
    font-size: 1.1rem;
}
.vectorRespuesta h4 {
    font-weight: bold;
}
.result .proceso {
    max-height: 20rem;
    overflow-y: auto;
    font-size: 1.1rem;
}
.proceso h4 {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    height: 100%;
}
.logos {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.logo {
    height: 3.5rem;
}